html {
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0;
}

body {
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: 1s;
}

.header {
    font-family: 'Righteous', cursive;
    font-size: 100px;
    text-align: center;
    animation: float 4s ease-in-out infinite;
    margin-top: 5%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #4F4F4F;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.phone--input {
    background: none;
}

.motto {
    font-family: 'Righteous', cursive;
    font-size: 12px;
    display: inline-block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    color: #c9c9c9;
    background-color: #242424;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    text-align: center;
  }

.instro {
    display: inline-block;
}

.instro--parent {
    text-align: center;
    color: #F9F9F9;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    /* -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: #4F4F4F; */
}

.fon3 {
    height: 60px;
    width: 300px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
}

.subm1t {
    height: 60px;
    width: 80px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    background-color: #ffffff;
    color: #242424;
    border: none;
    border-radius: 3px;
}

.subm1t:hover {
    transition: .3s;
    background-color: #242424;
    color: #ffffff;
    cursor: pointer;
}

.question {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: #ffffff;
    width: 60%;
    display: inline-block;
    margin-top: 5%;
}

.slider {
    color: #ffffff;
    width: 85%;
    margin-top: 2%;
    background-color: red;
}

.welcome {
    font-family: 'Righteous', cursive;
    font-size: 60px;
    color: #ffffff;
    margin: 1%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #4F4F4F;
}

.results--containers {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
    width: 100%;
}

.yes {
	background: #16751e;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	margin: 20px;
	margin-top: 5px;
	padding: .1rem;
	text-transform: uppercase;
	width: 120px;
    font-family: 'Righteous', cursive;
}

.yes:hover {
	background: #06a01a;
}

.no {
    background: #a40000;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	margin: 20px;
	margin-top: 5px;
	padding: .1rem;
	text-transform: uppercase;
	width: 120px;
    font-family: 'Righteous', cursive;
}

.no:hover {
	background: #be0000;
}

.photo  {
    width: 15%;
    height: 15%;
    margin-top: 2%;
    border: solid 1px white;
    border-radius: 5px;
}

.person {
    width: 5%;
    height: 100%;
}

.time--till {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 40px;
}

.spot--photo {
    height: 180px;
    width:320px;
    border: 2px white solid;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 1%;
}

.spot--wrapper {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: #ffffff;
    display: table;
    align-items: center;
    justify-content: center
}

.ppl--details {
    font-family: 'Righteous', cursive;
    font-size: 15px;
    color: #ffffff;
}

.headshots {
    width: 180px;
    height: 180px;
    border: solid 2px white;
    border-radius: 5px;
}