<!DOCTYPE HTML>

<html>

<head>
    <link href="../static/styles.css" rel="stylesheet" type="text/css">
    <title>Friendable | Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<body style="background-color:#93AFD6" onload="document.body.style.opacity='1'">
    <div class="header" style="color: white">Friendable</div>

    <div class="instro--parent">
        <div class="instro">please enter your verification code:</div>
    </div>
    <form id="login" method='POST' action="/verify" style="text-align: center; margin-top: 2%;">
        <input type='text' id="pnum" name='pnum' value="{{ pnum }}" hidden=True/>
        <input type='text' id="new" name='new' value="{{ new }}" hidden=True/>
        <input id="code" name='code' type="text" style="display: inline-block" class="fon3" autofocus required />
        <input type="submit" value="Submit" style="display: inline-block" class="subm1t" />
    </form>

    <div class="footer">
        <p class="motto" style="margin-top:12px;letter-spacing:2px;">"developed by the Bro Code team"</p>
    </div>

</body>

<script>
    const codeInputField = document.querySelector("#code");

    function process(event) {
        event.preventDefault();

        const codeNumber = codeInputField
    }
</script>

</html>